$default-color: ghostwhite;
$background:  rgb(39, 39, 30);
$background-dark:  #1f2124;
$background-light: #706E40;

$font-color: darken($default-color, 60%);
$light-color: lighten($default-color, 20%);
$dark-color: darken($default-color, 20%);

$contrast-color: #FFF40B;
$highlight-color: #DBD330;

$black: lighten(black, 5%);
$white: darken(white, 5%);

$font-size: 16px;
$line-height: $font-size * 1.6;
$h1-size: $font-size * 2;