<div *ngIf="movieSelected" class="overlay no-scroll">
  <div class="box container">
    <div class="box_content">
      <div class="row justify-content-center">
        <div class="detail_pic col-xs-12 col-sm-12 col-lg-5 col-md-5 col-xl-5">
          <a (click)="unSelectMovie()" class="overlay-close fa-3x">
            <span class="detail_close fa-layers fa-fw">
              <i class="detail_circle fas fa-circle"></i>
              <i class="detail_x fa-inverse fas fa-times" data-fa-transform="shrink-6"></i>
            </span>
          </a>
          <img class="detail_cover_img img-fluid" *ngIf="movie" src="{{posterUrl}}/{{movie?.poster_path}}" onError="this.src='/assets/img/movies/no-found.jpg'"
            alt="{{movie?.title}} poster" align="left" />
        </div>
        <div class="col-xs-12 col-sm-12 col-lg-7 col-md-7 col-xl-7">
          <h2 *ngIf="movie.name" class="title">{{movie?.name}}</h2>
          <h2 *ngIf="movie.title" class="title">{{movie?.title}}</h2>
          <br>
          <p *ngIf="movie.title">release date : {{movie?.release_date}}</p>
          <p *ngIf="movie.name">serie starts : {{movie?.first_air_date}}</p>
          <br>
          <p class="detail_overview">
            {{movie?.overview}}
          </p>
          <br>
          <div class="cast_row row justify-content-center">
            <div *ngFor="let actor of movie.cast" class="actor_col col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-2" (click)="searchPersonMovie(actor.actor.id, 1)">
              <img (click)="searchPersonMovie(actor.actor.id, 1)" class="img-fluid rounded actor_pic" *ngIf="movie" src="{{actor.actor.photo}}"
                onError="this.src='/assets/img/movies/no-found.jpg'"> {{actor.actor.name}}
            </div>
          </div>
        </div>
        <div class="col-12">
          <button *ngIf="video_embeded.length <= 35" (click)="getVideoLink()" class="video_btn btn btn-info float-right btn-sm">find on youtube:</button>
          <br>
          <a *ngIf="video_embeded.length >= 35" class="video_link" [target]="'_blank'" href="http://movie-blog.org/index.php?s={{movie.title}}&cat=0 | safe_url">MOVIE.BLOG?</a>
          <br>
          <br>
          <div *ngIf="video_embeded.length >= 35" class='embed-container'>
            <iframe width="560" height="315" [src]="video_embeded | safe_url" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
          <br>
        </div>


      </div>
    </div>
  </div>
</div>