@import "~assets/variables.scss";
.overlay {
    background: rgba(0, 0, 0, 0.75);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999999;
}

.overlay .box {
    background: $background-light;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    -ms-overflow-style: none;
    padding: 1.250rem 1.250rem 0;
    height: 100%;
}

.overlay .box .box_content {
    overflow-y: scroll;
    height: 100%;
    right: -1.35rem;
    width: 106%;
    padding: 0.625rem;
    padding-right: 0.625rem;
    padding-right: 3.750rem;
    overflow-x: hidden;
}

.overlay .box::-webkit-scrollbar {
    width: 0 !important;
}

.overlay::-webkit-scrollbar {
    display: none;
}

.overlay .box::-webkit-scrollbar {
    display: none;
}

.no-scroll::-webkit-scrollbar {
    display: none;
}


/* Safari */

.no-scroll::-moz-scrollbars {
    display: none;
    overflow: hidden;
    background: black
}

.no-scroll::-o-scrollbar {
    display: none;
}


/* opera */

.no-scroll::-google-ms-scrollbar {
    display: none;
}

.no-scroll::-khtml-scrollbar {
    display: none;
}

.overlay-close {
    position: absolute;
    left: 3.8rem;
    top: 0.4rem;
    z-index: 9999;
}

.detail_close {
    left: -2.813rem;
}

.detail_circle {
    color: $black;
}

.detail_x {
    color: $highlight-color;
}

.detail_pic {
    padding-right: 0.188rem;
}

p {
    margin-left: 0.5rem;
}

h2 {
    text-transform: uppercase;
    background: $background;
    color: $default-color;
    padding: 0.125em 0.3125rem;
    margin-top: 0.1875rem;
}

.detail_cover_img {
    max-height: 97.5%
}

.video_link {
    color: $default-color;
    text-decoration: none;
    margin-left: 0.3125rem;
    font-size: 1.2rem;
    background: black;
    padding: 0.3125rem;
}

.video_btn {
    float: left;
    margin-left: 0.625rem;
    margin-top: 0.625rem;
    font-size: 1.2rem;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 1.875rem;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: auto;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.rounded {
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}

.cast_row {
    text-align: center;
    font-size: 0.7rem;
}

.actor_pic {
    cursor: pointer;
}

.actor_col:hover {
    cursor: pointer;
    text-shadow: -0.01ex 0 $default-color, 0.01ex 0 $default-color;
    letter-spacing: 0;
}

.actor_pic:hover {
    text-shadow: -0.01ex 0 $default-color, 0.01ex 0 $default-color;
    letter-spacing: 0;
    -webkit-box-shadow: 0 0.03125rem 0.09375rem 0 rgba(219, 211, 48, 0.5), 0 0.03125rem 0.09375rem 0 rgba(219, 211, 48, 0.5);
    box-shadow: 0 0.03125rem 0.09375rem 0 rgba(219, 211, 48, 0.5), 0 0.03125rem 0.09375rem 0 rgba(219, 211, 48, 0.5);
}

@media screen and (max-width: 62rem) {
    .box.container {
        max-width: 100% !important;
    }
    .overlay {
        padding: 0 !important;
    }
}

@media(max-width: 35.9375rem) {
    .box p {
        font-size: 0.9rem;
    }
    .box button {
      
        font-size: 1.125rem;
    }
    .overlay {
        padding: 0;
    }
    .overlay .box .box_content {
        padding: 0;
        padding-right: 1.3rem;
    }
    .detail_overview {
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
        text-align: justify;
        display: table-cell;
        vertical-align: middle;
        font-size: 0.8rem;
    }
    .detail_close {
        left: 1rem;
        position: fixed;
    }
}