<div class="row">
  <div *ngFor="let movie of movies$ | async | paginate: { itemsPerPage: 1, currentPage: p, totalItems: totalPages} ; let i = index;"
    class="col-xs-6 col-sm-6 col-md-4 col-lg-4 col-xl-3 mt-4">
    <div class="card card-inverse card-info">
      <img class="img-fluid" (click)="sichtbar[i] =true" class="card-img-top" [src]="'https://image.tmdb.org/t/p/w342'+ movie.poster_path"
        onError="this.src='/assets/img/movies/no-found.jpg'">
      <div  [hidden]="!sichtbar[i]" class="card-img-overlay">
        <div (click)="sichtbar[i] =false" class="card-block">
          <h4 class="card-title">{{movie.title}}       
            <button (click)="getOverviewInGerman(movie.id,i)" class="btn btn_reverse btn-info btn-sm">GER</button>
          </h4>
   
          <div *ngIf="language_id !== movie.id" (click)="sichtbar[i] =!sichtbar[i]" class="card-text">
            {{movie.overview}}
          </div>
          <div *ngIf="language_id === movie.id" (click)="sichtbar[i] =!sichtbar[i]" class="card-text">
            {{overview}}
          </div>
        </div>
        <div class="card-footer">
          <small *ngIf="movie.genre_ids[0] ; else elseBlock" class="footer_vote">{{getGenre(movie?.genre_ids[0])}}
            <span *ngIf="movie.genre_ids[1]" class="fancy">&</span> {{getGenre(movie?.genre_ids[1])}}</small>
          <ng-template #elseBlock>
            <small class="footer_vote">No genre definded</small>
          </ng-template>
          <button (click)="getOverviewInGerman(movie.id)" class="btn float-right btn-info btn-sm btn-ger">GER</button>
          <button (click)="selectMovie(movie)" class="btn btn-info float-right btn-sm btn-more">>></button>

        </div>
      </div>
    </div>

  </div>
  <div *ngIf="totalPages>0" class="paginate col-md-12 justify-content-center">
    <pagination-controls class="my-pagination" (pageChange)="getPage($event)"></pagination-controls>
  </div>
</div>


<div class="details" *ngIf="movieSelected">
  <app-movie-details></app-movie-details>
</div>